.advantage {

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

    }

}

.advantage__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;


}

.advantage__item {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);

    }
}




.advantage__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: start;

    }
}


.advantage__text {
    color: #757575;
    width: 100%;

}

.advantage__icon {
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;



}