.exemple {
    @include mobile-xs {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    @include mobile {
        padding-top: 60px;
        padding-bottom: 40px;
    }


    @include desktop {
        padding-top: 94px;
        padding-bottom: 50px;
    }

}


.exemple-title {
    @include font(700, 18px, 2, 0.06em);
    color: var(--title-color)
}

.exemple-text {
    @include font(null, 16px, 1.87, 0.03em);
    color: var(--main-text-color)
}

.button-item {
    margin-bottom: 15px;
}


.exemple-list-button {
    @include mobile-xs {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: -15px;
    }

    @include mobile {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: -15px;

    }

    ;

    @include tablet {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    ;

    @include desktop {
        display: flex;
        justify-content: center;
    }

    ;

}

.button-item:not(:last-child) {
    margin-right: 8px;

}

.example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;

}

.exemple-item {

    @include tablet {
        width: calc((100% - 30px) / 2);

    }

    @include desktop {
        width: calc((100% - 60px) / 3);

    }

    outline: 1px solid #EEEEEE;

    &:hover,
    &:focus {

        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        ;

    }

    & {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.example-list {
    margin-top: 56px;

    @include mobile {
        margin-top: 40px;
    }

    @include tablet {
        justify-content: flex-start;
    }


}

.exemple-title {
    border: 1px #EEEEEE;

}

.exemple-card-text {
    padding: 20px 24px;
}

.exemple-top-wrap {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.exemple-card-text {
    overflow: hidden;
}

.exemple-top-text {
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    top: 0;
    height: 100%;
    @include font(400, 18px, 1.56, 0.03em);
    padding: 63px 24px;
    transform: translateY(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .exemple-item:hover & {
        transform: translate(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}