.nav-list {
    // display: flex;
}

.nav-contacts {
    // display: flex;
    margin-left: auto;

}

.header .nav {
    // display: flex;
    align-items: center;
}

.nav-link {
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--second-text-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {

        color: var(--accent-color);

    }

    &.current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        left: 0;
        bottom: -32px;

    }

}

.nav-mail {
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);


    }

}

.nav-tel {
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);


    }

}

.nav-icon {
    margin-right: 10px;
    cursor: pointer;

}

.logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.nav-item:not(:last-child) {
    margin-right: 50px;

}

.nav-list,
.nav-contacts {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-icon {
    fill: currentColor;
    margin-right: 10px;

    &:hover {
        fill: var(--accent-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}