.team {

    background: #F5F4FA;




    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;

    }

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}

.team-top__title {
    margin-bottom: 50px;

}

.team__title {
    @include font(500, 16px, 1.18, 0.03em);
    text-align: center;
    color: var(--second-text-color);

}

.team__text {
    @include font(null, 16px, 1.18, 0.03em);
    text-align: center;
    color: var(--main-text-color);
    margin-top: 10px;

}

.team__imag {
    width: 100%;
}

.team__item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;

}

.team__item {


    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 90px) / 4);

    }

}

.team-card__text {
    padding-top: 30px;
    margin-bottom: 16px;
}