.checkbox {

    @include mobile-xs {
        @include font(400, 12px, 1.16, 0.03em);
    }

    @include mobile {
        @include font(400, 12px, 1.16, 0.03em);
    }

    @include desktop {
        @include font(400, 14px, 1.71, 0.03em);
    }

    color: #757575;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 30px;

    @include mobile-xs {
        display: block;
    }



    &::before {



        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 3px;
        background-image: url();
        margin-right: 7px;

        @include mobile-xs {
            display: inline-block;
            margin-right: 0;
        }

    }

}


.checkbox-imput:checked+.checkbox::before {
    background-color: #2196F3;
    background-image: url(../images/icon\ check.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-imput:focus+.checkbox::before {

    border: 2px solid var(--accent-color);

}