.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mobile-xs {
        width: 100%;
    }

    @include mobile {
        width: 480px;

    }

    @include tablet {
        width: 768px;

    }

    @include desktop {
        width: 1200px;

    }
}

.mob-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}